h1 {
    font-family: 'Nunito';
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}

h3 {
    font-family: 'Nunito';
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 16px;
}

/* p {
    font-family: 'Nunito';
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
} */

blockquote {
    font-family: 'Nunito';
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}

#postings {
    overflow-y: scroll;
    width: 55%;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

#map {
  width: 45%;
}

/* Clear floats after the columns */
.main-row:after {
  content: "";
  display: table;
  clear: both;
}

#search-disp {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 100px;
    margin-right: 80px;
    height: 16px;
}

.posting {
    background-color: #FFFFFF;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 140px;
    border-radius: 10px;
    display: table;
    width: 700px;
}

.posting-details {
    display: table-cell;
    height: calc(100% - 50px);
    padding: 25px 0 25px 25px;
    width: 60%;
}

.posting-title {
    font-weight: bold;
    height: 1.5em;
}

.posting-desc {
    overflow-y: auto;
}

.posting-distance {
    height: 1em;
    width: 20%;
    padding: calc(50%-0.5em) 0;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.posting-price {
    background-color: #93c47dff;
    height: 1em;
    color: white;
    font-weight: bold;
    width: 20%;
    display: table-cell;
    border-bottom-right-radius: 10px; 
    border-top-right-radius: 10px; 
    vertical-align: middle;
    text-align: center;
}

.posting-price.remove {
    cursor: hover;
}

.posting:last-child {
    margin-bottom: 60px;
}

.posting:hover {
    background-color: #EFEFEF;
    cursor: pointer;
}

.post-column {
    float: left;
    height: 100%;
}

.post-row {
    width: 100%;
    height: 100%;
}

/* Clear floats after the columns */
.post-row:after {
  content: "";
  display: table;
  clear: both;
}