@import url('https://fonts.googleapis.com/css?family=Nunito');
html, body {
    font-family: 'Nunito', sans-serif;
    color: #434343;
    background-color:#d9ead3ff;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

a:link, a:visited {
    color: #434343;
}

input, textarea, button, select, select option {
    font-family: 'Nunito', sans-serif;
    color: #434343;
    border: transparent;
}

::placeholder, ::-ms-input-placeholder {
  color: #999999;
  opacity: 1;
}

textarea:focus, input:focus, button:focus{
    outline: none;
}

button {
    cursor: pointer;
}

.main-column {
  float: left;
  height: 100%;
}

.main-row {
    height: calc(100% - 125px);
}

