@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
html, body {
    font-family: 'Quicksand', sans-serif;
    color: #434343;
    background-color:#d9ead3ff;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

input {
    font-family: 'Quicksand', sans-serif;
    color: #999999;
}
textarea:focus, input:focus{
    outline: none;
}

